@charset "UTF-8";

/* general */
/* @font-face {
  font-family: myFont;
  src: url("../font/HSN_sadiyah.ttf");
} */

body {
  /* font-family: myFont; */
  height: 100%;
  width: 100%;
}

.main_container {
  width: 100%;
  height: 100%;
  background-color: #000000f0;
  background-image:
    radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-attachment: fixed;
  position: fixed;
  overflow-y: scroll;
}

/*----------------------------------------- landing page -----------------------------------------*/
.landing_page {
  /* transform: translateY(50%); */
  margin-top: 1rem;
}

.form-group.form-inline {
  transform: translateX(9%);
}

.landing_page .start_video {
  display: block;
}

.landing_page .logo {
  width: 25%;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.landing_page h6 {
  color: #fff;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.landing_page .strip {
  margin-top: 0px;
  /* background-image: url("../images/strip.png"); */
  /*background-color: #7924228a;*/
  margin: auto;
  text-align: center;
  padding: 4px;
  color: #FFF !important;
  border-radius: 15px;
}

.landing_page .title {
  text-align: center;
  margin: 20px auto 0 auto;
  color: #fff;
}

.landing_page .shbka {
  text-align: center;
}

.landing_page .shbka h3 {
  color: #FFF !important;
  /* text-shadow: #965b38 0px 0px 5px;*/
  padding: 10px;
  font-weight: bold;
  margin: 0;
}

.landing_page .shbka .zain_viva {
  width: 100%;
}

.landing_page .shbka .zain_viva #viva,
.landing_page .shbka .zain_viva #zain,
.landing_page .shbka .zain_viva #ooredoo {
  cursor: pointer;
  width: 60%;
}

.landing_page .form_content {
  margin: 0 auto 0 auto;
  text-align: center;
  display: block;
  width: 80%;
}

.landing_page .form_content h5 {
  line-height: 1.6;
  color: #fff;
}

.landing_page .form_content h5 span {
  font-family: serif;
}

.landing_page .form_content .validity {
  display: none;
  margin: 5px;
  /* font-weight: bold; */
}

.landing_page .form_content input:invalid+span::after {
  content: "✖";
  color: red;
}

.landing_page .form_content input:valid+span::after {
  content: "✓";
  color: #26b72b;
}

.landing_page .form_content form .form-group label {
  background: linear-gradient(135deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
  color: #000;
  padding: 6px;
  margin-bottom: 0;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
  font-weight: bold;
}

.landing_page .form_content form .form-group label span {
  font-family: serif;
}

.landing_page .form_content form .form-group input {
  width: 70%;
  font-family: serif;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.landing_page .form_content form .form-group input:focus {
  box-shadow: 0 0 0 0.2rem rgb(206 175 127);
  border-color: #000;
}

.landing_page .form_content form .btn {
  background: linear-gradient(135deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: block;
  margin: auto;
  width: 60%;
}

.landing_page .cancel {
  padding: 20px 8px 0 8px;
}

/*----------------------------------------- confirm page -----------------------------------------*/
.confirm_page img {
  width: 80%;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.confirm_page .confirm {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px 10px;
  border-radius: 5px;
  width: 85%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.confirm_page .confirm span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5;
}

.confirm_page .confirm span span {
  font-family: serif;
}

.confirm_page .confirm .btn {
  background-color: #495057;
  color: #fff;
  margin: 15px;
  width: 50%;
}

.confirm_page .confirm p {
  margin-bottom: 0;
  font-size: 14px;
}

/*------------------------------------------- copyright---------------------------------------*/
.copy {
  /* text-align: center;
  margin-top: 8%; */
  position: absolute;
  bottom: 0;
  left: 25%;
}

.copy p {
  font-size: 10px;
  color: #fff;
}

.copy p span {
  font-family: serif;
}

/*------------------------------------------- loading page ---------------------------------------*/
.loading-overlay {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.spinner {
  position: relative;
  width: 300px;
  margin: 150px auto;
}

.spinner img {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.terms {
  font-size: 1rem;
  margin-top: 1rem;
  padding-right: 1.5rem;
}

.terms li {
  margin-bottom: 0.75rem;
}

.main_container {
  -webkit-animation: kenburns-bottom 4s ease-in-out alternate-reverse both;
  animation: kenburns-bottom 4s ease-in-out alternate-reverse both;
}

@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}

@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}


/*  */

.switch-input {
  display: none;
}

.switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  color: #727272;
  font-weight: 500;
  text-align: left;
  margin: 16px;
  padding: 0px 0 0px 44px;
}

.switch-label:before,
.switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #b6b6b6;
  border-radius: 8px;
}

.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.switch-label .toggle--on {
  display: none;
}

.switch-label .toggle--off {
  display: inline-block;
  color: #fff;
}

.switch-input:checked+.switch-label:before {
  background: linear-gradient(135deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
}

.switch-input:checked+.switch-label:after {
  background: linear-gradient(135deg, rgba(243, 226, 199, 1) 0%, rgba(193, 158, 103, 1) 50%, rgba(182, 141, 76, 1) 51%, rgba(233, 212, 179, 1) 100%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}

.switch-input:checked+.switch-label .toggle--on {
  display: inline-block;
}

.switch-input:checked+.switch-label .toggle--off {
  display: none;
}

.switch-input:checked+.switch-label .toggle--option {
  color: #fff;
}
