.main_container {
  width: 100%;
  height: 100%;
  background-image: url(../../../front/images/mbc_landing/BG.png);
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  overflow-y: scroll;
  background-position: center;
  background-repeat: no-repeat;
}
.best_features{
  color: #906b37;
    font-size: 26px;
    padding: 0 3%;
}

.div_size{
  margin-bottom: 10%;
}

.landing_page .form_content form .form-group label{
  background:#a5a5a5;
  padding: 7px;
}
.landing_page .form_content form .form-group input{
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 75%;
}
.landing_page .form_content form .btn{
  background:#ad844a;
  width: 60%;
  font-size: 17px;
  border-radius: 15px;
  margin-top: 10%;
}

.Are_you_a_subscriber{
  color: #906b37;
  font-size: 20px;
}

a:hover {
  color: #906b37;
  text-decoration: unset;
}

@media (min-width: 1025px) {
  .main_container {
    width: 25%;
    margin: 0 auto;
    position: unset;
  }
}
