.main_container {
  width: 100%;
  height: 100%;
  background: #0f1218;
  /* background-image: url(../../../front/images/mbc_landing/BG.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; */
  position: fixed;
  overflow-y: hidden;
}

.main_container .img-fluid img {
  width: 25%;
}

.landing_page .strip h2 {
  color: #FFF;
}

.best_features {
  color: #FFF;
  font-size: 14px;
  padding: 0 3%;
}

.div_size {
  margin-bottom: 10% !important;
}

.landing_page .shbka .div_size img {
  width: 90%;
}

.landing_page .shbka h3 {
  color: #FF6600 !important;
  font-size: 1.25rem;
}

.landing_page .form_content {
  width: 85%;
}

.landing_page .form_content form .form-group label {
  padding: 6.5px;
  background: #FF6600;
}

.landing_page .form_content form .form-group input {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 80%;
  /* color: #FF6600; */
  /* background: #e6e6e6; */
}

.landing_page .form_content form .form-group input:focus {
  box-shadow: 0 0 0 0.2rem #fff;
}

.landing_page .cancel #reSendPin {
  background: #FF6600;
}

/* .landing_page .form_content form .form-group input::placeholder {
  color: #FF6600;
  background: #e6e6e6;
} */

.landing_page .form_content form .btn {
  font-size: 15px;
  border-radius: 15px;
  margin-top: 10%;
  width: 65%;
  background: #FF6600;
  color: #FFF;
}

.landing_page .form_content form .btn_select {
  background: #FF6600;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  width: 99%;
  height: 38px;
  margin-top: 0;
  padding: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  text-align: center;
  text-align-last: center;
}

.landing_page .form_content form .btn_select:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 255 255);
}

.btn_select img {
  width: 40%;
}

.dropdown-item.select_option img {
  width: 17%;
}

.landing_page .form_content form #phone {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.landing_page .form_content form #phone:focus,
.landing_page .form_content form #phone:hover {
  border-color: #000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #FF6600;
}

.Are_you_a_subscriber {
  color: #FF6600;
  font-size: 14px;
}

a:hover {
  color: #fff;
  text-decoration: unset;
}

.form-group.form-inline {
  transform: translateX(0%) !important;
  -webkit-transform: translateX(0%) !important;
  -moz-transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  -o-transform: translateX(0%) !important;
}

.copy {
  left: 20%;
}

.copy p {
  color: #FF6600;
}

.terms {
  font-size: 0.7rem;
  color: #FF6600;
}

.unsub_cancle {
  text-align: center;
  margin-top: 12%;
}

.unsub_cancle a {
  color: #FFF;
  border-bottom: 1px solid #FF6600;
  padding-bottom: 1.75%;
}

.unsub_cancle a:hover {
  color: #FF6600;
  border-bottom: 1px solid #FFF;
}

@media (min-width: 768px) and (max-width: 1024.9px) {
  .btn_select img {
    width: 25%;
  }
}

@media (min-width: 1025px) {
  .main_container {
    width: 25%;
    margin: 0 auto;
    position: unset;
  }
}

.landing_page .cancel {
  padding: 0px 8px 0 8px;
}

.landing_page .cancel p {
  color: #FF6600;
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s ease-in-out 1s both;
  animation: bounce-top 0.9s ease-in-out 1s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
