@font-face {
  font-family: DuCoHeadline200;
  src: url("../font/DuCoHeadline200.ttf");
}
body {
  font-family: DuCoHeadline200;
  background: #f2f2f2;
}

.main_container {
  /* Start Header */
  /* End Header */
  /* Start Home Page */
  /* End Home Page */
  /* Start List Page */
  /* End List Page */
  /* Start Inner Page */
  /* Start Modal For InnerPager */
  /* End Modal For InnerPager */
  /* End Inner Page */
  /* Start Azan Page */
  /* End Azan Page */
  /* Start Nearmosque Page */
  /* End Nearmosque Page */
  /* Start Salah Page */
  /* End Salah Page */
  /* Start Subscribe Page */
  /* End Subscribe Page */
  /* Start Zakkah Page */
  /* End Zakkah Page */
  /* Start Merath Page */
  /* End Merath Page */
  /* Start Sebha Page */
  /* End Sebha Page */
  /* Start Search Page */
  /* End Search Page */
  /* Start Error Page */
  /* End Error Page */
}
.main_container .header {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}
.main_container .header .header_logo .link_href img,
.main_container .header .header_icon .link_href img {
  width: 6%;
  margin-top: -0.5rem;
  margin-right: 4%;
}
.main_container .nav_nav .navbar_ul .nav_item_welc {
  color: #000 !important;
}
.main_container .nav_nav .navbar_ul .nav-item .nav-link {
  color: #000 !important;
}
.main_container .nav_nav .navbar_ul .nav-item .nav-link svg {
  fill: #00a9ce;
}
.main_container .nav_nav .navbar_ul .nav-item .dropdown-menu .dropdown-item:active, .main_container .nav_nav .navbar_ul .nav-item .dropdown-menu .dropdown-item:focus, .main_container .nav_nav .navbar_ul .nav-item .dropdown-menu .dropdown-item:hover {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
  color: #FFF;
}
.main_container .img_carousel .owl_one .item .btn_subscribe button {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
  color: #FFF;
}
.main_container .img_carousel .owl-theme .owl-dots .owl-dot.active span,
.main_container .img_carousel .owl-theme .owl-dots .owl-dot:hover span {
  background: #c39;
}
.main_container .content_carousel .content_carousel_head .link_title {
  color: #000;
}
.main_container .content_carousel .content_carousel_head .btn_more {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
  color: #FFF;
}
.main_container .content_carousel .owl_content_one .item .card .card-body {
  color: #000;
}
.main_container .content_carousel .owl_content_two .item .card .card-body {
  color: #000;
}
.main_container .content_carousel .owl_content_three .item .card .card-body {
  color: #000;
}
.main_container .content_carousel .owl_content_four .item .card .card-body {
  color: #000;
}
.main_container .content_carousel .owl_content_five .item .card .card-body {
  color: #000;
}
.main_container .list_page .coming_soon {
  color: #FFF;
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}
.main_container .list_page .content_carousel_head .link_title {
  color: #000;
}
.main_container .list_page .item .card .card-body {
  color: #000;
}
.main_container .inner_page .cover button {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
  color: #FFF;
  left: 35%;
}
.main_container .inner_page .socail_media .shear_div .facebook,
.main_container .inner_page .socail_media .shear_div .twitter,
.main_container .inner_page .socail_media .shear_div .messenger,
.main_container .inner_page .socail_media .shear_div .whatsapp {
  color: #FFF;
}
.main_container .modal_cover .modal-dialog .modal-content .modal-body .modal_club .btn {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}
.main_container .modal_cover .modal-dialog .modal-content .modal-footer .btn {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}
.main_container #chooseAudio table {
  border: 2px solid linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}
.main_container #chooseAudio table th {
  border-color: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}
.main_container .azan_page .input_text .azan_input {
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #bd0ce9 40%, #00a9ce 60%);
  border-image-slice: 1;
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #753bbd, #00a9ce);
}
.main_container .azan_page .azan_text .call_tone {
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #bd0ce9 40%, #00a9ce 60%);
  border-image-slice: 1;
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #753bbd, #00a9ce);
}
.main_container .nearmosque_page .nearmosque_title #map {
  border: double 5px transparent;
  background-image: linear-gradient(#00a9ce, #753bbd), linear-gradient(to right, #753bbd, #00a9ce);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.main_container .salah_time_page .time_btn {
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #bd0ce9 40%, #00a9ce 60%);
  border-image-slice: 1;
  background-image: linear-gradient(#f2f2f2, #f2f2f2), linear-gradient(to right, #753bbd, #00a9ce);
}
.main_container .zakkah_page .zakah_zakah .form_zakah .field .field-value input {
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #753bbd, #00a9ce);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.main_container .zakkah_page .zakah_zakah .form_zakah .actions button.button {
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #753bbd, #00a9ce);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.main_container .merath_page .input_text .merath_input {
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #bd0ce9 40%, #00a9ce 60%);
  border-image-slice: 1;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #753bbd, #00a9ce);
}
.main_container .merath_page .button_merath .merath_btn {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}
.main_container .sebha_page .display #tally {
  border: 2px solid;
  border-image-source: linear-gradient(50deg, #bd0ce9 40%, #00a9ce 60%);
  border-image-slice: 1;
  background-image: linear-gradient(#f2f2f2, #f2f2f2), linear-gradient(to right, #753bbd, #00a9ce);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.main_container .sebha_page .display .btn-bar button {
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #bd0ce9 40%, #00a9ce 60%);
  background-image: linear-gradient(#f2f2f2, #f2f2f2), linear-gradient(to right, #753bbd, #00a9ce);
  border-image-slice: 1;
}
.main_container .sebha_page .choose_sebha {
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #bd0ce9 40%, #00a9ce 60%);
  background-image: linear-gradient(#f2f2f2, #f2f2f2), linear-gradient(to right, #753bbd, #00a9ce);
  border-image-slice: 1;
}
.main_container .sebha_page a:hover {
  color: #bd0ce9;
}
.main_container .search_page .form_search .textbox.input-middle + .bord {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}
.main_container .error_page .buttons-con .action-link-wrap .link-button {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}

.loading-overlay .spinner-blue {
  border-top-color: #09d;
  border-left-color: #09d;
}

.active_menu {
  background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
}

@media (min-width: 320px) and (max-width: 359.9px) {
  .main_container .header .header_logo img,
.main_container .header .header_icon img {
    width: 13% !important;
  }
  .main_container .nav_nav .navbar_ul .nav-item .nav-link .icon_before {
    color: #00a9ce;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo .arrow_back {
    color: #00a9ce;
  }
  .main_container .merath_page {
    width: 90%;
  }
  .main_container .merath_page .border-bottom {
    margin-bottom: 0.75rem;
  }
  .main_container .merath_page .merath_title h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .main_container .merath_page .input_span h4 {
    line-height: 2.25rem;
    font-size: 1rem;
  }
  .main_container .merath_page .button_merath {
    text-align: center;
    margin: 5% auto;
  }
  .main_container .merath_page .button_merath .merath_btn {
    width: 50%;
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: 0;
    background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .main_container .merath_page .table_table .table {
    border: 2px #00a9ce solid;
    border-radius: 7px;
    direction: rtl;
  }
  .main_container .merath_page .table_table .table tbody tr .td_1 {
    text-align: right;
  }
}
@media (min-width: 360px) and (max-width: 374.9px) {
  .main_container .header .header_logo img,
.main_container .header .header_icon img {
    width: 13% !important;
  }
  .main_container .nav_nav .navbar_ul .nav-item .nav-link .icon_before {
    color: #00a9ce;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo .arrow_back {
    color: #00a9ce;
  }
  .main_container .sebha_page #sebhaModal .modal-title {
    font-size: 1rem;
  }
  .main_container .sebha_page #sebhaModal .choose_sebha {
    font-size: 0.9rem;
  }
  .main_container .merath_page .button_merath .merath_btn {
    background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
  }
  .main_container .merath_page .table_table .table {
    border: 2px #00a9ce solid;
  }
}
@media (min-width: 375px) and (max-width: 410.9px) {
  .main_container .header .header_logo img,
.main_container .header .header_icon img {
    width: 12% !important;
  }
  .main_container .nav_nav .navbar_ul .nav-item .nav-link .icon_before {
    color: #00a9ce;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo .arrow_back {
    color: #00a9ce;
  }
  .main_container .merath_page .button_merath .merath_btn {
    background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
  }
  .main_container .merath_page .table_table .table {
    border: 2px #00a9ce solid;
  }
}
@media (min-width: 411px) and (max-width: 415px) {
  .main_container .header .header_logo img,
.main_container .header .header_icon img {
    width: 12% !important;
  }
  .main_container .nav_nav .navbar_ul .nav-item .nav-link .icon_before {
    color: #00a9ce;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo .arrow_back {
    color: #00a9ce;
  }
  .main_container .merath_page .button_merath .merath_btn {
    background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
  }
  .main_container .merath_page .table_table .table {
    border: 2px #00a9ce solid;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .no_padding {
    padding: 0;
  }

  .main_container {
    width: 100%;
    padding-top: 4rem;
  }
  .main_container .header {
    position: fixed;
    top: 0;
    z-index: 99999999999;
    height: 5.5rem;
  }
  .main_container .header .header_logo,
.main_container .header .header_icon {
    width: 100%;
    text-align: center;
  }
  .main_container .header .header_logo h6,
.main_container .header .header_icon h6 {
    font-size: 2rem;
    margin-top: 0.25rem;
    padding-left: 0;
  }
  .main_container .header .header_logo img,
.main_container .header .header_icon img {
    width: 9% !important;
    margin-top: 0.5rem !important;
  }
  .main_container .header .header_logo.header_icon i,
.main_container .header .header_icon.header_icon i {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .main_container .header .arrow_back {
    left: 95%;
    top: 1.5rem;
    font-size: 1.75rem;
  }
  .main_container .nav_nav {
    background-color: transparent;
    width: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    border: 0;
  }
  .main_container .nav_nav button {
    outline: 0;
    font-size: 1.5rem;
    opacity: 0.5;
    position: fixed;
    top: 2.85rem;
    left: 4rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .main_container .nav_nav button .icon_before {
    color: #FFF;
  }
  .main_container .nav_nav .navbar-collapse {
    z-index: 9999999;
  }
  .main_container .nav_nav .navbar_ul {
    background-color: #FFF;
    width: 18rem;
    height: 100vh;
    padding: 0 0;
    overflow-y: scroll;
  }
  .main_container .nav_nav .navbar_ul .nav-item {
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
  }
  .main_container .nav_nav .navbar_ul .nav-item .nav-link .icon_before {
    padding-right: 0.5rem;
    color: #00a9ce;
  }
  .main_container .nav_nav .navbar_ul .nav-item .dropdown-menu .dropdown-item {
    padding: 0.25rem 0.75rem;
    text-align: center;
    width: 100% !important;
    font-size: 1.5rem;
  }
  .main_container .nav_nav .navbar_ul .nav-item .dropdown-menu .dropdown-item.dropdown-item2 {
    width: 100% !important;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo {
    margin-bottom: 1rem;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo .arrow_back {
    color: #00a9ce;
    font-size: 1.5rem;
    float: right;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
  .main_container .img_carousel {
    margin-top: 0;
  }
  .main_container .img_carousel .owl_one .item .owl_one_img img {
    height: 48rem;
  }
  .main_container .img_carousel .owl_one .item .btn_subscribe {
    height: 5rem;
  }
  .main_container .img_carousel .owl_one .item .btn_subscribe button {
    width: 50%;
    top: 95%;
    font-size: 1.5rem;
  }
  .main_container .img_carousel .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
  }
  .main_container .content_carousel .content_carousel_head .link_title h6 {
    font-size: 2rem;
    font-weight: bold;
  }
  .main_container .content_carousel .content_carousel_head .btn_more {
    padding: 0.25rem 1rem;
    font-size: 1.85rem;
  }
  .main_container .content_carousel .owl_content_one .item .card {
    width: 100%;
  }
  .main_container .content_carousel .owl_content_one .item .card .owl_content_img img {
    height: 19rem !important;
  }
  .main_container .content_carousel .owl_content_one .item .card .card-body {
    padding: 1.25rem 0.25rem;
  }
  .main_container .content_carousel .owl_content_one .item .card .card-body .card-title {
    text-align: center;
    font-size: 1.9rem;
  }
  .main_container .content_carousel .owl_content_one .item .card .card-body .card-text i {
    color: #adadad;
  }
  .main_container .content_carousel .owl_content_two .item .card .owl_content_img img {
    height: 17rem !important;
  }
  .main_container .content_carousel .owl_content_two .item .card .card-body {
    padding: 1.25rem 0.25rem;
  }
  .main_container .content_carousel .owl_content_two .item .card .card-body .card-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .main_container .content_carousel .owl_content_two .item .card .card-body .card-text i {
    color: #adadad;
  }
  .main_container .content_carousel .owl_content_three .item .card .owl_content_img img {
    height: 17rem !important;
  }
  .main_container .content_carousel .owl_content_three .item .card .card-body {
    padding: 1.25rem 0.25rem;
  }
  .main_container .content_carousel .owl_content_three .item .card .card-body .card-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .main_container .content_carousel .owl_content_three .item .card .card-body .card-text i {
    color: #adadad;
  }
  .main_container .content_carousel .owl_content_four .item .card .owl_content_img img {
    height: 17rem;
  }
  .main_container .content_carousel .owl_content_four .item .card .card-body {
    padding: 1.25rem 0.25rem;
  }
  .main_container .content_carousel .owl_content_four .item .card .card-body .card-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .main_container .content_carousel .owl_content_four .item .card .card-body .card-text i {
    color: #adadad;
  }
  .main_container .content_carousel .owl_content_five .item .card .owl_content_img img {
    height: 17rem !important;
  }
  .main_container .content_carousel .owl_content_five .item .card .card-body {
    padding: 1.25rem 0.25rem;
  }
  .main_container .content_carousel .owl_content_five .item .card .card-body .card-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .main_container .content_carousel .owl_content_five .item .card .card-body .card-text i {
    color: #adadad;
  }
  .main_container .list_page .coming_soon {
    width: 40%;
    margin-top: 30% !important;
    font-size: 1.5rem;
  }
  .main_container .list_page .content_carousel_head .link_title h6 {
    font-size: 2rem;
    font-weight: bold;
  }
  .main_container .list_page .item .card .owl_content_img img {
    height: 17.625rem;
  }
  .main_container .list_page .item .card .card-body {
    padding: 1rem 0.25rem;
  }
  .main_container .list_page .item .card .card-body .card-title {
    font-size: 1.65rem;
  }
  .main_container .mowdo3t_page .item .card {
    height: 13rem;
  }
  .main_container .mowdo3t_page .item .card .owl_content_img img {
    height: 7.188rem;
  }
  .main_container .mowdo3t_page .item .card .card-body {
    padding: 1rem 0.25rem;
  }
  .main_container .mowdo3t_page .item .card .card-body .card-title {
    font-size: 1rem;
  }
  .main_container .inner_page {
    margin-top: 0;
  }
  .main_container .inner_page .section_content .image_inner {
    height: 170px;
    width: 170px;
  }
  .main_container .inner_page .cover h4 {
    font-size: 2rem;
    padding: 0 1rem;
  }
  .main_container .inner_page .cover video {
    padding: 0 0;
  }
  .main_container .inner_page .cover img {
    width: 100%;
    height: 25rem;
  }
  .main_container .inner_page .poster .poster-details .title-wrapper h2 {
    font-size: 1.65rem;
  }
  .main_container .inner_page .poster .poster-details .outside-cover {
    font-size: 1.25rem;
  }
  .main_container .inner_page .socail_media {
    width: 100%;
  }
  .main_container .inner_page .socail_media .pa_share {
    margin-top: 0.75rem;
    font-size: 1.65rem;
  }
  .main_container .inner_page .socail_media .shear_div {
    padding-right: 0;
  }
  .main_container .inner_page .socail_media .shear_div .facebook,
.main_container .inner_page .socail_media .shear_div .twitter,
.main_container .inner_page .socail_media .shear_div .messenger,
.main_container .inner_page .socail_media .shear_div .whatsapp {
    width: 90%;
    height: 3.5rem;
    margin-left: 4.5rem;
    margin-top: 0.75rem;
    font-size: 1.75rem;
  }
  .main_container .inner_page .section_content .pa_Videos {
    margin-top: 0.75rem;
    font-size: 1.65rem;
  }
  .main_container .inner_page .section_content .p_content,
.main_container .inner_page .section_content .p_content_2 {
    margin-left: 4.5rem;
    margin-top: 45px;
    font-size: 30px;
  }
  .main_container .modal_cover .modal-dialog {
    max-width: 90%;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-header h5 {
    font-size: 1.85rem;
    width: 100%;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-header .close {
    margin: -0.75rem -1rem -1rem auto;
    font-size: 2.5rem;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-body .modal_club .btn,
.main_container .modal_cover .modal-dialog .modal-content .modal-body .modal_club strong,
.main_container .modal_cover .modal-dialog .modal-content .modal-body .modal_club p {
    font-size: 2rem;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-footer {
    padding: 1rem;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-footer .btn {
    font-size: 2rem;
    padding: 0.5rem 4rem;
    margin: 0 1rem;
  }
  .main_container .azan_page {
    margin: 2.5rem auto;
  }
  .main_container .azan_page .azan_title h2 {
    font-size: 2.25rem;
  }
  .main_container .azan_page .input_text {
    width: 85%;
  }
  .main_container .azan_page .input_text .azan_input {
    height: 4rem;
    font-size: 2.5rem;
  }
  .main_container .nearmosque_page {
    margin: 2.5rem auto;
  }
  .main_container .nearmosque_page .nearmosque_title h2 {
    font-size: 2.5rem;
  }
  .main_container .nearmosque_page .nearmosque_title #map {
    width: 100%;
  }
  .main_container .salah_time_page {
    width: 85%;
    margin: 2.5rem auto;
  }
  .main_container .salah_time_page .salah_time_title h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .main_container .salah_time_page .time_btn {
    margin-bottom: 4%;
    height: 4.5rem;
  }
  .main_container .salah_time_page .time_btn .input_span {
    padding: 0 !important;
  }
  .main_container .salah_time_page .time_btn .h4_time {
    float: left;
    padding-left: 10px;
    line-height: 4rem;
    font-size: 2rem;
  }
  .main_container .salah_time_page .time_btn .h4_time_2 {
    float: right;
    padding-right: 10px;
    line-height: 4rem;
    font-size: 2rem;
  }
  .main_container .sebha_page {
    margin: 11rem auto;
  }
  .main_container .sebha_page .display #tally {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 80px;
  }
  .main_container .sebha_page .display .btn-bar {
    margin-top: 3rem;
  }
  .main_container .sebha_page .display .btn-bar button {
    width: 100%;
    height: 6.5rem;
  }
  .main_container .sebha_page #sebhaModal .modal-dialog {
    position: relative;
    margin: 0;
  }
  .main_container .sebha_page #sebhaModal .modal-dialog .modal-content {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .main_container .sebha_page #sebhaModal .close {
    font-size: 2.5rem;
  }
  .main_container .sebha_page #sebhaModal .modal-title {
    font-size: 2.25rem;
  }
  .main_container .sebha_page #sebhaModal .choose_sebha {
    font-size: 2.1rem;
    height: 4.5rem;
  }
  .main_container .subscribe_page {
    width: 100%;
    margin: 2.5rem auto;
  }
  .main_container .subscribe_page .subscribe_bg {
    font-size: 1.85rem;
  }
  .main_container .subscribe_page .subscribe_bg .form-signin .account-wall input {
    font-size: 2rem;
  }
  .main_container .subscribe_page .subscribe_bg .form-signin .buttons button {
    font-size: 2rem;
  }
  .main_container .zakkah_page {
    width: 90%;
    margin: 2.5rem auto;
  }
  .main_container .zakkah_page h4 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .main_container .zakkah_page p {
    font-size: 2rem;
  }
  .main_container .zakkah_page .zakah_zakah .form_zakah .field {
    font-size: 1.5rem;
  }
  .main_container .merath_page {
    width: 90%;
    margin: 2.5rem auto;
  }
  .main_container .merath_page .border-bottom {
    margin-bottom: 0.75rem;
  }
  .main_container .merath_page .merath_title h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }
  .main_container .merath_page .input_text .merath_input {
    font-size: 2rem;
  }
  .main_container .merath_page .input_span h4 {
    line-height: 4rem;
    font-size: 2rem;
  }
  .main_container .merath_page .button_merath {
    text-align: center;
    margin: 5% auto;
  }
  .main_container .merath_page .button_merath .merath_btn {
    width: 50%;
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 0;
    background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .main_container .merath_page .table_table .thead2_h4 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
  .main_container .merath_page .table_table .table {
    border: 2px #00a9ce solid;
    border-radius: 7px;
    direction: rtl;
  }
  .main_container .merath_page .table_table .table tbody tr td {
    font-size: 2.1rem;
    padding: 1rem 1rem;
  }
  .main_container .merath_page .table_table .table tbody tr .td_1 {
    text-align: right;
  }
  .main_container .search_page {
    width: 95%;
    margin: 1.5rem auto;
  }
  .main_container .search_page .btn_search {
    font-size: 1.5rem;
  }
  .main_container .search_page .textbox {
    text-align: center;
    height: 4.5rem !important;
    font-size: 2rem;
  }
  .main_container .error_page {
    margin: 2rem auto 0 0;
  }
  .main_container .error_page svg {
    height: 80%;
  }
  .main_container .error_page .message-box {
    font-size: 2.5rem;
    top: -45rem;
    left: 43%;
  }
  .main_container .error_page .buttons-con {
    font-size: 2.5rem;
    top: -7rem;
    left: 50%;
  }

  .loading-overlay .spinner-large {
    bottom: 30%;
    left: 35%;
  }

  .alert {
    font-size: 2.15rem;
  }
  .alert .close {
    font-size: 2.15rem;
  }
}
@media (min-width: 1024px) and (max-width: 1030px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .no_padding {
    padding: 0;
  }

  .main_container {
    width: 100%;
    padding-top: 4rem;
  }
  .main_container .header {
    position: fixed;
    top: 0;
    z-index: 99999999999;
    height: 6rem;
  }
  .main_container .header .header_logo,
.main_container .header .header_icon {
    width: 100%;
  }
  .main_container .header .header_logo h6,
.main_container .header .header_icon h6 {
    font-size: 2.5rem;
    margin-top: 0.25rem;
    padding-left: 0;
  }
  .main_container .header .header_logo img,
.main_container .header .header_icon img {
    width: 9% !important;
    margin-top: 0.5rem !important;
  }
  .main_container .header .header_logo.header_icon i,
.main_container .header .header_icon.header_icon i {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .main_container .header .arrow_back {
    left: 94%;
    top: 2rem;
    font-size: 2rem;
  }
  .main_container .nav_nav {
    background-color: transparent;
    width: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    border: 0;
  }
  .main_container .nav_nav button {
    outline: 0;
    font-size: 2rem;
    opacity: 0.5;
    position: fixed;
    top: 3.25rem;
    left: 5rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .main_container .nav_nav button .icon_before {
    color: #FFF;
  }
  .main_container .nav_nav .navbar-collapse {
    z-index: 9999999;
  }
  .main_container .nav_nav .navbar_ul {
    background-color: #FFF;
    width: 31rem;
    height: 100vh;
    padding: 0 0;
    overflow-y: scroll;
  }
  .main_container .nav_nav .navbar_ul .nav-item {
    padding: 0.25rem 0.75rem;
    font-size: 2rem;
  }
  .main_container .nav_nav .navbar_ul .nav-item .nav-link .icon_before {
    padding-right: 0.5rem;
    color: #00a9ce;
  }
  .main_container .nav_nav .navbar_ul .nav-item .dropdown-menu .dropdown-item {
    padding: 0.25rem 0.75rem;
    text-align: center;
    width: 100% !important;
    font-size: 1.75rem !important;
  }
  .main_container .nav_nav .navbar_ul .nav-item .dropdown-menu .dropdown-item.dropdown-item2 {
    width: 100% !important;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo {
    margin-bottom: 3rem;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo .arrow_back {
    color: #00a9ce;
    font-size: 1.5rem;
    float: right;
  }
  .main_container .nav_nav .navbar_ul .nav-item.nav_item_logo img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
  .main_container .img_carousel {
    margin-top: 0;
  }
  .main_container .img_carousel .owl_one .item .owl_one_img img {
    height: 32rem;
  }
  .main_container .img_carousel .owl_one .item .btn_subscribe {
    height: 6.5rem;
  }
  .main_container .img_carousel .owl_one .item .btn_subscribe button {
    width: 65%;
    top: 91%;
    font-size: 1.75rem;
  }
  .main_container .img_carousel .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
  }
  .main_container .content_carousel .content_carousel_head .link_title h6 {
    font-size: 2.35rem;
    font-weight: bold;
  }
  .main_container .content_carousel .content_carousel_head .btn_more {
    padding: 0.25rem 1.5rem;
    font-size: 2.5rem;
  }
  .main_container .content_carousel .owl_content_one .item .card {
    width: 100%;
  }
  .main_container .content_carousel .owl_content_one .item .card .owl_content_img img {
    height: 26rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .main_container .content_carousel .owl_content_one .item .card .card-body {
    padding: 1.25rem 0.25rem;
  }
  .main_container .content_carousel .owl_content_one .item .card .card-body .card-title {
    text-align: center;
    font-size: 2.25rem;
  }
  .main_container .content_carousel .owl_content_one .item .card .card-body .card-text i {
    color: #adadad;
  }
  .main_container .content_carousel .owl_content_two .item .card {
    width: 100%;
  }
  .main_container .content_carousel .owl_content_two .item .card .owl_content_img img {
    height: 25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .main_container .content_carousel .owl_content_two .item .card .card-body {
    padding: 1.25rem 0.25rem;
  }
  .main_container .content_carousel .owl_content_two .item .card .card-body .card-title {
    text-align: center;
    font-size: 2rem;
  }
  .main_container .content_carousel .owl_content_two .item .card .card-body .card-text i {
    color: #adadad;
  }
  .main_container .content_carousel .owl_content_three .item .card {
    width: 100%;
  }
  .main_container .content_carousel .owl_content_three .item .card .owl_content_img img {
    height: 21rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .main_container .content_carousel .owl_content_three .item .card .card-body {
    padding: 1.25rem 0.25rem;
  }
  .main_container .content_carousel .owl_content_three .item .card .card-body .card-title {
    text-align: center;
    font-size: 2rem;
  }
  .main_container .content_carousel .owl_content_three .item .card .card-body .card-text i {
    color: #adadad;
  }
  .main_container .content_carousel .owl_content_five .item .card {
    width: 100%;
  }
  .main_container .content_carousel .owl_content_five .item .card .owl_content_img img {
    height: 15.641rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .main_container .content_carousel .owl_content_five .item .card .card-body {
    padding: 1.25rem 0.25rem;
  }
  .main_container .content_carousel .owl_content_five .item .card .card-body .card-title {
    text-align: center;
    font-size: 2rem;
  }
  .main_container .content_carousel .owl_content_five .item .card .card-body .card-text i {
    color: #adadad;
  }
  .main_container .list_page {
    margin: 3.5rem auto;
  }
  .main_container .list_page .coming_soon {
    width: 40%;
    margin-top: 30% !important;
    font-size: 1.5rem;
  }
  .main_container .list_page .content_carousel_head .link_title h6 {
    font-size: 2.35rem;
    font-weight: bold;
  }
  .main_container .list_page .item .card .owl_content_img img {
    height: 21.25rem;
  }
  .main_container .list_page .item .card .card-body {
    padding: 1rem 0.25rem;
  }
  .main_container .list_page .item .card .card-body .card-title {
    font-size: 2.25rem;
  }
  .main_container .mowdo3t_page .item .card {
    height: 13rem;
  }
  .main_container .mowdo3t_page .item .card .owl_content_img img {
    height: 7.188rem;
  }
  .main_container .mowdo3t_page .item .card .card-body {
    padding: 1rem 0.25rem;
  }
  .main_container .mowdo3t_page .item .card .card-body .card-title {
    font-size: 1rem;
  }
  .main_container .inner_page {
    margin-top: 0;
  }
  .main_container .inner_page .section_content .image_inner {
    height: 200px;
    width: 200px;
  }
  .main_container .inner_page .cover h4 {
    font-size: 2.35rem;
    padding: 0 1rem;
  }
  .main_container .inner_page .cover video {
    padding: 0 0;
  }
  .main_container .inner_page .cover img {
    width: 100%;
    height: 35.938rem;
  }
  .main_container .inner_page .cover .button_play {
    font-size: 2rem;
    padding: 0.5rem 2rem;
  }
  .main_container .inner_page .poster .poster-details .title-wrapper h2 {
    font-size: 2.25rem;
  }
  .main_container .inner_page .poster .poster-details .outside-cover {
    font-size: 1.75rem;
  }
  .main_container .inner_page .socail_media {
    width: 100%;
  }
  .main_container .inner_page .socail_media .pa_share {
    margin-top: 0.75rem;
    font-size: 2.25rem;
  }
  .main_container .inner_page .socail_media .shear_div {
    padding-right: 0;
  }
  .main_container .inner_page .socail_media .shear_div .facebook,
.main_container .inner_page .socail_media .shear_div .twitter,
.main_container .inner_page .socail_media .shear_div .messenger,
.main_container .inner_page .socail_media .shear_div .whatsapp {
    width: 90%;
    height: 5rem;
    margin-left: 5.5rem;
    margin-top: 0.75rem;
    font-size: 2.25rem;
  }
  .main_container .inner_page .section_content .pa_Videos {
    margin-top: 0.75rem;
    font-size: 2.25rem;
  }
  .main_container .inner_page .section_content .p_content,
.main_container .inner_page .section_content .p_content_2 {
    margin-left: 3%;
    font-size: 35px;
  }
  .main_container .modal_cover .modal-dialog {
    max-width: 90%;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-header h5 {
    font-size: 2.5rem;
    width: 100%;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-header .close {
    margin: -0.75rem -1rem -1rem auto;
    font-size: 2.75rem;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-body .modal_club .btn,
.main_container .modal_cover .modal-dialog .modal-content .modal-body .modal_club strong,
.main_container .modal_cover .modal-dialog .modal-content .modal-body .modal_club p {
    font-size: 2.5rem;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-footer {
    padding: 1.25rem;
  }
  .main_container .modal_cover .modal-dialog .modal-content .modal-footer .btn {
    font-size: 2.5rem;
    margin: 0 1rem;
    padding: 0.5rem 6rem;
  }
  .main_container .azan_page {
    margin: 3rem auto;
  }
  .main_container .azan_page .azan_title h2 {
    font-size: 3rem;
  }
  .main_container .azan_page .input_text {
    width: 85%;
  }
  .main_container .azan_page .input_text .azan_input {
    height: 4.5rem;
    font-size: 2.75rem;
  }
  .main_container .nearmosque_page {
    margin: 3.5rem auto;
  }
  .main_container .nearmosque_page .nearmosque_title h2 {
    font-size: 3rem;
  }
  .main_container .nearmosque_page .nearmosque_title #map {
    width: 75%;
  }
  .main_container .salah_time_page {
    width: 85%;
    margin: 3.5rem auto;
  }
  .main_container .salah_time_page .salah_time_title h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .main_container .salah_time_page .time_btn {
    margin-bottom: 4%;
    height: 5.5rem;
  }
  .main_container .salah_time_page .time_btn .input_span {
    padding: 0 !important;
  }
  .main_container .salah_time_page .time_btn .h4_time {
    float: left;
    padding-left: 12px;
    line-height: 5rem;
    font-size: 2.85rem;
  }
  .main_container .salah_time_page .time_btn .h4_time_2 {
    float: right;
    padding-right: 12px;
    line-height: 5rem;
    font-size: 2.85rem;
  }
  .main_container .sebha_page {
    margin: 11rem auto;
  }
  .main_container .sebha_page .display #tally {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 80px;
  }
  .main_container .sebha_page .display .btn-bar {
    margin-top: 3rem;
  }
  .main_container .sebha_page .display .btn-bar button {
    width: 100%;
    height: 7.5rem;
  }
  .main_container .sebha_page .display .btn-bar button i {
    font-size: 3.75 rem;
  }
  .main_container .sebha_page #sebhaModal .modal-dialog {
    position: relative;
    margin: 0;
  }
  .main_container .sebha_page #sebhaModal .modal-dialog .modal-content {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .main_container .sebha_page #sebhaModal .close {
    font-size: 2.5rem;
  }
  .main_container .sebha_page #sebhaModal .modal-title {
    font-size: 2.25rem;
  }
  .main_container .sebha_page #sebhaModal .choose_sebha {
    font-size: 2.1rem;
    height: 4.5rem;
  }
  .main_container .subscribe_page {
    width: 100%;
    margin: 2.5rem auto;
  }
  .main_container .subscribe_page .login_title {
    font-size: 3rem;
  }
  .main_container .subscribe_page .subscribe_bg {
    font-size: 2.75rem;
  }
  .main_container .subscribe_page .subscribe_bg .form-signin .account-wall input {
    font-size: 3rem;
  }
  .main_container .subscribe_page .subscribe_bg .form-signin .buttons button {
    font-size: 3rem;
  }
  .main_container .zakkah_page {
    width: 90%;
    margin: 3.5rem auto;
  }
  .main_container .zakkah_page h4 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .main_container .zakkah_page p {
    font-size: 2.5rem;
  }
  .main_container .zakkah_page .zakah_zakah .form_zakah .field {
    font-size: 2rem;
  }
  .main_container .zakkah_page .zakah_zakah .form_zakah .actions button.button {
    font-size: 2.5rem;
  }
  .main_container .merath_page {
    width: 90%;
    margin: 3.5rem auto;
  }
  .main_container .merath_page .border-bottom {
    margin-bottom: 0.75rem;
  }
  .main_container .merath_page .merath_title h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }
  .main_container .merath_page .input_text .merath_input {
    font-size: 2.5rem;
  }
  .main_container .merath_page .input_span h4 {
    line-height: 4.5rem;
    font-size: 2.5rem;
  }
  .main_container .merath_page .button_merath {
    text-align: center;
    margin: 5% auto;
  }
  .main_container .merath_page .button_merath .merath_btn {
    width: 50%;
    height: 4rem;
    color: #FFF;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    border: 0;
    background: linear-gradient(to right, #00205b 0, #753bbd 30%, #00a9ce 60%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .main_container .merath_page .table_table .thead2_h4 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .main_container .merath_page .table_table .table {
    border: 2px #00a9ce solid;
    border-radius: 7px;
    direction: rtl;
  }
  .main_container .merath_page .table_table .table tbody tr td {
    font-size: 2.75rem;
    padding: 1rem 1.25rem;
  }
  .main_container .merath_page .table_table .table tbody tr .td_1 {
    text-align: right;
  }
  .main_container .search_page {
    width: 95%;
    margin: 3rem auto;
  }
  .main_container .search_page .btn_search {
    font-size: 2rem;
  }
  .main_container .search_page .textbox {
    text-align: center;
    height: 5.5rem !important;
    font-size: 2.75rem;
  }
  .main_container .error_page {
    margin: 2rem auto 0 0;
  }
  .main_container .error_page svg {
    height: 80%;
  }
  .main_container .error_page .message-box {
    font-size: 4rem;
    top: -61rem;
    left: 43%;
  }
  .main_container .error_page .message-box h1 {
    font-size: 4.5rem;
  }
  .main_container .error_page .buttons-con {
    font-size: 3rem;
    top: -7rem;
    left: 50%;
  }

  .loading-overlay .spinner-large {
    bottom: 30%;
    left: 35%;
  }

  .alert {
    font-size: 2.35rem;
  }
  .alert .close {
    font-size: 2.5rem;
  }
}
@media (min-width: 1031px) and (max-width: 1360px) {
  .main_container {
    width: 60% !important;
  }
  .main_container .nav_nav {
    width: 95%;
  }
  .main_container .img_carousel .owl_one .item .owl_one_img img {
    height: 11.191rem;
  }
  .main_container .img_carousel .owl_one .item .btn_subscribe button {
    width: 70%;
    top: 88%;
  }
  .main_container .content_carousel .owl_content_three .item .card .owl_content_img img {
    height: 10.858rem;
  }
  .main_container .content_carousel .owl_content_three .item .card .card-body .card-title {
    font-size: 0.9rem;
  }
  .main_container .content_carousel .owl_content_five .item .card .owl_content_img img {
    height: 7.813rem;
  }
  .main_container .content_carousel .owl_content_five .item .card .card-body .card-title {
    font-size: 0.9rem;
  }
  .main_container .list_page .item .card .card-body .card-title {
    font-size: 0.9rem;
  }
  .main_container .inner_page .cover img {
    height: 30.888rem;
  }
  .main_container .inner_page .socail_media .facebook,
.main_container .inner_page .socail_media .twitter,
.main_container .inner_page .socail_media .messenger,
.main_container .inner_page .socail_media .whatsapp {
    height: 2.5rem !important;
  }
  .main_container .modal_cover .modal-dialog .modal-content {
    left: 26%;
  }
  .main_container .zakkah_page {
    width: 90%;
  }
  .main_container .zakkah_page .zakah_zakah .form_zakah .field label {
    float: left;
  }
  .main_container .salah_time_page .time_btn {
    margin-bottom: 4%;
  }
  .main_container .salah_time_page .time_btn .h4_time,
.main_container .salah_time_page .time_btn .h4_time_2 {
    font-size: 1.25rem;
  }
  .main_container .merath_page {
    width: 90%;
  }
  .main_container .merath_page .input_span h4 {
    font-size: 1.15rem;
  }
}
/* Start Animation */
.scale-up-bottom {
  -webkit-animation: scale-up-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  animation: scale-up-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}

@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
.bounce-top {
  -webkit-animation: bounce-top 0.9s ease-in-out 1s both;
  animation: bounce-top 0.9s ease-in-out 1s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.roll-in-top {
  -webkit-animation: roll-in-top 1s ease-in-out 1s both;
  animation: roll-in-top 1s ease-in-out 1s both;
}

@-webkit-keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
.pulsate-bck {
  -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* End Animation */

/*# sourceMappingURL=style_en.css.map */
