.main_container .header .header_logo .link_href img {
  width: 70%;
  margin-top: -0.5rem;
}

.main_container .header .header_logo .link_href .img_khir img {
  margin-top: 0.75rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  /* left: 29.5%; */
  background-color: #0f1218;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 8px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 19px !important;
  color: #FF6600;
  cursor: pointer;
  display: block;
  transition: 0.3s;
  direction: ltr;
}

.sidenav a:hover {
  background: #FF6600;
  color: #FFF;
}

.sidenav .closebtn_mbc {
  position: absolute;
  top: 0;
  left: -24%;
  color: #FF6600;
  font-size: 1.5rem !important;
  margin-left: 50px;
  font-weight: bold;
}

.open_icon_nav_mbc {
  color: #FF6600;
  font-size: 30px;
  cursor: pointer;
  margin-top: -12px;
  font-weight: bold;
}

svg {
  fill: #FF6600;
  width: 15%;
}

.sidenav .navbar_ul .nav-item .menuTwo::after {
  float: LEFT;
  margin-top: 1.2rem;
  margin-LEFT: 10px;
}

.ul_menu {
  background-color: #111;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.navbar-nav .dropdown-menu {
  background-color: #0f1218 !important;
}

.active_menu {
  color: #FFF !important;
}

.lang_color {
  background-color: #111;
  z-index: 2147483647;

}

.lang_color a {
  color: #FFF;
}

.lang_color a:hover {
  background: #FF6600;
  color: #FFF;
}

.lang_show {
  cursor: pointer;
  color: #FF6600;
  margin: -10% 0 0 0;

}

.angle_show {
  margin: 0 -10px 0 -13px;
  color: #FF6600;

}

.navbar .navbar-nav .nav-item .menuThree {
  font-size: 19px !important;
  color: #FF6600;
  text-indent: 5px;
}

.sidenav .navbar_ul .nav-item .menuTwo {
  font-size: 16px !important;
}

.close_nav {
  padding: 0;
}

/* .padding_phones{
  padding: 0;
} */


.main_container .sebha_page #sebhaModal .modal-content {
  left: 0 !important;
}

@media (min-width: 1025px) {
  .main_container {
    width: 41%;
    margin: 0 auto;
    position: unset;
  }
}
