.sidenav {

}

.sidenav a {
  direction: ltr;
}

.sidenav a:hover {}

.sidenav .closebtn_mbc {
  left: -24%;
}

.open_icon_nav_mbc {}

svg {}

.dropdown-toggle::after {
  float: left;
  margin-top: 0.75rem;
  margin-right: 10px;
}

.ul_menu {
}

@media screen and (max-height: 450px) {
  .sidenav {}

  .sidenav a {}
}

.navbar-nav .dropdown-menu {}

.active_menu {}

.lang_color {}

.lang_color a {}

.lang_color a:hover {}

.lang_show {}

.angle_show {}

.navbar-nav .nav-link {}

.close_nav {
  padding: 0;
}

.main_container .sebha_page #sebhaModal .modal-content {
  left: 0 !important;
}

@media (min-width: 1025px) {
  .main_container {}
}
