.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 30%;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #efc049;
  cursor: pointer;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background: linear-gradient(to right, #aa6620 0, #efc049 30%, #aa6620 60%);
  color: #FFF;
}

.sidenav .closebtn_mbc {
  position: absolute;
  top: -14px;
  right: -4px;
  color: #efc049;
  font-size: 2.5rem;
  margin-left: 50px;
  font-weight: bold;
}

.open_icon_nav_mbc {
  color: #efc049;
  font-size: 30px;
  cursor: pointer;
  margin-top: -12px;
  font-weight: bold;
}

svg {
  fill: #efc049;
  width: 15%;
}

.dropdown-toggle::after {
  /* float: right;
  margin-top: 0.75rem;
  margin-right: 10px; */
}
/* .dropdown-toggle::after {
  float: unset;
    margin-top: 1px;
    margin-right:-11px;
    margin-left: 1px;
} */

.ul_menu {
  background-color: #111;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.navbar-nav .dropdown-menu {
  background-color: #111;
}
.active_menu {
  color: #FFF!important;
}
.lang_color{
  background-color: #111;
  z-index: 2147483647;
}
.lang_color a{
  color: #FFF;
}
.lang_color a:hover{
  background: linear-gradient(to right, #aa6620 0, #efc049 30%, #aa6620 60%);
  color: #FFF;
}
.lang_show{
  cursor: pointer;
  color: #efc049;
  margin: -10% 0 0 0;
}
.angle_show{
  margin: 0 -10px 0 -13px;
  color: #efc049;
}
.navbar-nav .nav-link {

  font-size: 13px;
}
.close_nav {
  padding: 0;
}
/* .padding_phones{
  padding: 0;
} */

@media (min-width: 1025px) {
  .main_container {
    /* width: 41%;
    margin: 0 auto;
    position: unset; */
  }
}
