$white_color: #FFF;
$black_color: #000;
$grey_color: #adadad;

body {
  direction: rtl !important;
}

.row {
  margin: 0 !important;
}

.main_container {

  /* Start Header */
  .header {

    .header_logo,
    .header_icon {
      &.header_logo {
        text-align: center;
        margin-left: 8%;

        h6 {
          padding-right: 0;
          padding-left: unset;
        }

        .link_href {
          text-align: left;

          img {
            margin-right: 30%;

            &.logo_orange {
              margin-right: 85%;
            }
          }

          .img_khir {
            text-align: right;
          }
        }
      }

      &.header_icon {
        text-align: left !important;
        float: left !important;
      }
    }

    .lang_mbc {
      margin-left: -15%;

      .dropdown-menu2 {
        left: -7% !important;
      }
    }

    .arrow_back {
      top: 1rem;
      right: 100%;
      transform: translate(-50%, -50%);
    }
  }

  .nav_nav {
    .navbar_ul {
      padding-right: 0;
      float: right;

      .nav_item_welc {
        text-align: right !important;
      }

      .nav-item {
        .nav-link {
          text-align: right !important;

          .icon_before {
            float: right !important;
            padding-left: 0.5rem;
          }

          &.nav-link2 {
            text-align: left !important;
          }
        }

        .dropdown-toggle {
          &::after {
            float: left !important;
          }
        }

        .dropdown-menu {
          &.dropdown-menu2 {
            float: left !important;
          }

          .dropdown-item {
            &.dropdown-item2 {}
          }
        }
      }
    }
  }

  /* End Header */

  /* Start Home Page */
  .img_carousel {
    .owl_one {
      .item {
        .content_free {
          top: 7%;
          right: 74%;
          transform: rotate(-45deg);
        }

        .btn_subscribe {
          button {}
        }
      }
    }

    .owl-dots {
      button {}
    }
  }

  .content_carousel {
    .content_carousel_head {
      .link_title {
        text-align: right !important;

        h6 {}
      }

      .btn_more {
        float: left !important;
      }
    }

    .owl_content_one {
      .item {
        .card {
          .owl_content_img {}

          .card-body {
            .card-title {
              direction: rtl;
            }
          }
        }
      }
    }

    .owl_content_two {
      .item {
        .card {
          .owl_content_img {}

          .card-body {
            .card-title {
              direction: rtl;
            }
          }
        }
      }
    }

    .owl_content_three {
      .item {
        .card {
          .owl_content_img {}

          .card-body {
            .card-title {
              direction: rtl;
            }
          }
        }
      }
    }

    .owl_content_four {
      .item {
        .card {
          .owl_content_img {}

          .card-body {
            .card-title {
              direction: rtl;
            }
          }
        }
      }
    }

    .owl_content_five {
      .item {
        .card {
          .owl_content_img {}

          .card-body {
            .card-title {
              direction: rtl;
            }
          }
        }
      }
    }
  }

  /* End List Page */
  .list_page {
    .content_carousel_head {
      text-align: right;
    }

    .item {
      .card {
        .owl_content_img {
          .content_free {
            top: 9%;
            right: 75%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  /* Start Inner Page */
  .inner_page {
    .cover {
      text-align: right;

      img {}

      audio {}

      button {
        left: 40% !important;
      }
    }

    .poster {
      text-align: right;

    }

    .socail_media {
      .pa_share {
        margin-top: 1rem;
        text-align: right;
      }

      .shear_div {
        padding-right: 1rem;

        .facebook,
        .twitter,
        .messenger,
        .whatsapp {
          margin-right: 1.5rem;
        }
      }
    }

    .section_content {
      .pa_Videos {
        text-align: right !important;
      }

      .p_content {
        text-align: right !important;
        margin-right: 0.5rem;
        margin-left: 0;
      }
    }
  }

  .modal_cover {
    .modal-dialog {
      .modal-content {
        left: -32% !important;
      }
    }
  }

  /* End Inner Page */

  /* Start Modal For InnerPager */
  .modal_cover {
    .modal-dialog {
      .modal-content {
        .modal-header {
          .close {
            margin: -1rem -1rem -1rem 0;
          }
        }
      }
    }
  }

  /* End Modal For InnerPager */

  /* Start Salah Page */
  .salah_time_page {

    .time_btn {
      .h4_time_2 {
        text-align: left !important;
      }

      .h4_time {
        text-align: right !important;
      }
    }
  }

  /* End Salah Page */

  /* Start Subscribe Page */
  .subscribe_page {
    .subscribe_bg {
      .form-signin {
        .buttons {
          button {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  /* End Subscribe Page */

  /* Start Zakkah Page */
  .zakkah_page {
    .zakah_zakah {
      .form_zakah {
        .field {
          label {
            float: right !important;
          }

          .field-value {
            float: right;
          }
        }
      }
    }
  }

  .zakkah_v2_page {
    #accordion {

      .card {

        .card-header {
          button {
            span {
              float: left;
              margin-left: 1rem;
            }

            .up_down {
              float: left;
            }
          }
        }
      }
    }

    .currency_title {
      float: right;
    }

    .currency_icon {
      float: left;
    }

    .currency_bg {
      .flex_center {
        .currency_text {
          text-align: right;
        }
      }

      .currency_selectBox {
        select {
          &:focus {}

          option {}
        }
      }

      .result {
        float: left;
        margin-left: 1rem;
      }
    }

    .zakah_result {
      .zakah_result_right {
        text-align: center;
      }

      .zakah_result_left {
        text-align: center;
      }
    }
  }

  /* End Zakkah Page */

  /* Start Merath Page */
  .merath_page {
    direction: rtl;

    .input_text {
      .merath_input {
        float: left;
      }
    }

    .input_span {
      text-align: right !important;

      h4 {
        float: right !important;
      }
    }

    .table_table {
      .table {
        direction: rtl;
      }
    }
  }

  /* End Merath Page */

  /* Start Sebha Page */
  .sebha_page {
    #sebhaModal .modal-content {
      left: -29%;
    }
  }

  /* End Sebha Page */

  /* Start Profile Page */
  .profile {
    .profile_title {}

    .profile_table {
      table {
        tbody {
          tr {
            .label-view {
              text-align: right;
            }

            .label-view2 {
              text-align: right;
            }
          }
        }
      }
    }
  }

  /* End Profile Page */

  /* Start MBC Filter */
  .list_filter {
    .card_title {
      h6 {
        text-align: right;
      }
    }

    .card {
      .owl_content_img {

        img {}
      }

      .card-body {
        .card-title {
          direction: rtl !important;
        }
      }
    }
  }

  .inner_filter {
    .card {
      .owl_content_img {
        img {}
      }

      .card-body {
        .card-title {
          direction: rtl !important;
        }
      }
    }

    .inner_filter_btn {

      .btn_download,
      .btn_share {
        font-size: 0.85rem !important;

        &:focus {}

        &:hover,
        &:focus {}
      }
    }
  }

  #modalShare {
    direction: rtl !important;

    .modal-dialog {
      .modal-content {
        .modal-header {
          .close {
            &:focus {}
          }
        }

        .modal-body {
          .social-icon {
            a {
              &:before {}

              &.facebook:hover {
                &:before {}
              }

              &.twitter:hover {
                &:before {}
              }

              &.linkedin:hover {
                &:before {}
              }

              &.pinterest:hover {
                &:before {}
              }

              &:hover:before {}

              i {}
            }
          }
        }

        .modal-footer {
          justify-content: flex-end !important;

          .btnClose {

            &:hover,
            &:focus {}
          }
        }
      }
    }
  }

  /* End MBC Filter */
}

@media (min-width: 320px) and (max-width: 359.9px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .main_container {
    .header {

      .header_logo,
      .header_icon {
        margin-left: 8%;

        .link_href {
          img {}
        }

        &.header_icon {
          margin: 0.35rem 0 0 -1rem;
        }

        h6 {
          padding-right: 0;
          padding-left: unset;
        }
      }

      .lang_mbc {
        margin-left: -55%;
      }

      .arrow_back {
        right: 100% !important;
        left: unset !important;
        top: 1rem !important;
        width: 0;
      }
    }

    .nav_nav {
      button {
        z-index: -9;
        width: 0;
        height: 0;
        top: 1.5rem !important;
        right: -1rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .img_carousel {
      .owl_one {
        .item {
          .content_free {
            top: 5%;
            right: 76%;
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 0.9rem;
          }
        }

        .btn_more {
          font-size: 0.9rem;
        }
      }

      .owl_content_one,
      .owl_content_two,
      .owl_content_three,
      .owl_content_four,
      .owl_content_five {
        .item {
          .card {
            .card-body {
              .card-title {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }

    .list_page {
      .content_carousel_head {}

      .item {
        .card {
          .owl_content_img {
            .content_free {
              top: 7% !important;
              right: 64% !important;
            }
          }
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 8px;
          padding-left: 0;
        }

        .h4_time_2 {
          float: left;
          padding-left: 8px;
          padding-right: 0;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;

        h4 {
          font-size: 1.09rem;
        }
      }
    }

    .sebha_page {
      #sebhaModal {
        .modal-dialog {
          .modal-content {
            left: 50% !important;
          }
        }
      }
    }
  }

  .loading-overlay {
    .spinner-large {
      right: 31%;
    }
  }
}

@media (min-width: 360px) and (max-width: 374.9px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .main_container {
    .header {

      .header_logo,
      .header_icon {
        margin-left: 8%;

        .link_href {
          img {}
        }

        &.header_icon {
          margin: 0.35rem 0 0 -1rem;
        }

        h6 {
          padding-right: 0;
          padding-left: unset;
        }
      }

      .arrow_back {
        right: 100% !important;
        left: unset !important;
        top: 1rem !important;
        width: 0;
      }

      .lang_mbc {
        margin-left: -47%;
      }
    }

    .nav_nav {
      button {
        font-size: 1rem;
        width: 0;
        height: 0;
        top: 1.5rem !important;
        right: -0.75rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          &.nav_item_logo {
            margin-bottom: 1rem;

            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .img_carousel {
      .owl_one {
        .item {
          .content_free {
            top: 5%;
            right: 80%;
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 14px;
          }
        }
      }
    }

    .list_page {
      .content_carousel_head {}

      .item {
        .card {
          .owl_content_img {
            .content_free {
              top: 8% !important;
              right: 65% !important;
            }
          }
        }
      }
    }

    .salah_time_page {
      width: 95%;

      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 8px;
          padding-left: 0;
          font-size: 1.20rem;
        }

        .h4_time_2 {
          float: left;
          padding-left: 8px;
          padding-right: 0;
          line-height: 3rem;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;
      }
    }

    .sebha_page {
      #sebhaModal {
        .modal-dialog {
          .modal-content {
            left: 50% !important;
          }
        }
      }
    }
  }

  .loading-overlay {
    .spinner-large {
      right: 31%;
    }
  }
}

@media (min-width: 375px) and (max-width: 410.9px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .main_container {
    .header {

      .header_logo,
      .header_icon {
        margin-left: 8%;

        .link_href {
          img {}
        }

        &.header_icon {
          margin: 0.35rem 0 0 -1rem;
        }

        h6 {
          padding-right: 0;
          padding-left: unset;
        }
      }

      .lang_mbc {
        margin-left: -45%;
      }

      .arrow_back {
        right: 100% !important;
        left: unset !important;
        top: 1rem !important;
        font-size: 1.35rem;
        width: 0;
      }
    }

    .nav_nav {
      button {
        font-size: 1rem;
        width: 0;
        height: 0;
        top: 1.5rem !important;
        right: -0.75rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          padding: 0.25rem 0.75rem;

          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .img_carousel {
      .owl_one {
        .item {
          .content_free {
            top: 5%;
            right: 80%;
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 1rem;
          }
        }

        .btn_more {
          font-size: 1rem;
        }
      }
    }

    .list_page {
      .content_carousel_head {}

      .item {
        .card {
          .owl_content_img {
            .content_free {
              top: 8% !important;
              right: 65% !important;
            }
          }
        }
      }
    }

    .inner_page {
      .section_content {
        .image_inner {
          height: 100px;
          width: 100px;
        }
      }

      .section_content {
        .pa_Videos {
          font-size: 1.25rem;
        }

        .p_content,
        .p_content_2 {
          font-size: 13px;
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 8px;
          padding-left: 0;
          font-size: 1.30rem;
        }

        .h4_time_2 {
          float: left;
          padding-left: 8px;
          padding-right: 0;
          font-size: 1.30rem;
        }
      }
    }

    .sebha_page {
      #sebhaModal {
        .modal-dialog {
          .modal-content {
            left: 50% !important;
          }
        }

        .close {
          font-size: 2rem;
        }
      }
    }

    .subscribe_page {
      width: 100%;
    }

    .merath_page {
      .input_text {
        .merath_input {
          font-size: 1.5rem;
        }
      }

      .input_span {
        text-align: right;

        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 411px) and (max-width: 415px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .main_container {
    .header {

      .header_logo,
      .header_icon {
        margin-left: 8%;

        .link_href {
          img {}
        }

        &.header_icon {
          margin: 0.35rem 0 0 -1rem;
        }

        h6 {
          padding-right: 0;
          padding-left: unset;
        }
      }

      .arrow_back {
        right: 100% !important;
        left: unset !important;
        top: 1rem !important;
        width: 0;
      }

      .lang_mbc {
        margin-left: -40%;
      }
    }

    .nav_nav {
      button {
        font-size: 1rem;
        width: 0;
        height: 0;
        top: 1.5rem !important;
        right: -0.75rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .img_carousel {
      .owl_one {
        .item {
          .content_free {
            top: 5%;
            right: 80%;
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 1rem;
          }
        }

        .btn_more {
          font-size: 1rem;
        }
      }
    }

    .list_page {
      .content_carousel_head {}

      .item {
        .card {
          .owl_content_img {
            .content_free {
              top: 8% !important;
              right: 65% !important;
            }
          }
        }
      }
    }

    .inner_page {
      .section_content {

        .p_content,
        .p_content_2 {
          font-size: 14px;
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 8px;
          padding-left: 0;
          font-size: 1.30rem;
        }

        .h4_time_2 {
          float: left;
          padding-left: 8px;
          padding-right: 0;
          font-size: 1.30rem;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;

        h4 {
          font-size: 1.5rem;
        }
      }
    }

    .sebha_page {
      #sebhaModal {
        .modal-dialog {
          .modal-content {
            left: 50% !important;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .main_container {
    .header {

      .header_logo,
      .header_icon {
        width: 100%;
        text-align: left !important;
        display: block;
        margin-left: 0 !important;

        .link_href {
          img {
            // margin-left: 35%;
          }
        }

        h6 {
          font-size: 2rem;
          padding-left: 7rem !important;
          text-align: left;
        }

        &.header_icon {
          i {
            font-size: 2rem;
            margin-top: 1rem;
          }
        }
      }

      .lang_mbc {
        margin-left: -17%;

        .dropdown-menu2 {
          right: unset !important;
          left: 0% !important
        }
      }

      .arrow_back {
        right: 96% !important;
        left: unset !important;
        top: 1.5rem !important;
        font-size: 2rem;
        width: 0;
      }
    }

    .nav_nav {
      button {
        font-size: 2rem;
        width: 0;
        height: 0;
        top: 1.5rem !important;
        right: -.5rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .img_carousel {
      .owl_one {
        .item {
          .content_free {
            top: 4%;
            right: 85%;
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 1.5rem;
          }
        }

        .btn_more {
          font-size: 1.5rem;
        }
      }

      .owl_content_one,
      .owl_content_two,
      .owl_content_three,
      .owl_content_four,
      .owl_content_five {
        .item {
          .card {
            .card-body {
              .card-title {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }

    .list_page {
      .content_carousel_head {}

      .item {
        .card {
          .owl_content_img {
            .content_free {
              top: 8% !important;
              right: 69% !important;
            }
          }
        }
      }
    }

    .inner_page {
      .cover {
        audio {
          width: 100% !important;
        }
      }
    }

    .modal_cover {
      .modal-dialog {
        .modal-content {
          left: 0 !important;
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 10px;
          padding-left: 0;
        }

        .h4_time_2 {
          float: left;
          padding-left: 10px;
          padding-right: 0;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;
      }
    }

    .sebha_page {
      #sebhaModal {
        .modal-dialog {
          .modal-content {
            left: 50% !important;
          }
        }
      }
    }

    .list_filter {
      .card_title {
        h6 {
          font-size: 1.2rem !important;
          margin-bottom: 4%;
        }
      }

      .card {
        .card-body {
          h4 {
            font-size: 1.2rem !important;
          }
        }
      }
    }

    .inner_filter {
      .no_padding {
        padding-right: 0;
        padding-left: 0;
      }

      .card {
        .card-body {
          h4 {
            font-size: 1.2rem !important;
          }
        }
      }

      #modalShare {
        .modal-dialog {
          .modal-content {
            width: 90%;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1030px) {
  .main_container {
    .header {

      .header_logo,
      .header_icon {
        width: 100%;
        text-align: left !important;
        display: block;
        // margin-left: 12%;

        .link_href {
          img {
            // margin-left: 35%;
          }
        }

        h6 {
          font-size: 2.5rem;
          padding-left: 10rem !important;
          text-align: left;
        }

        &.header_icon {
          i {
            font-size: 2rem;
            margin-top: 1rem;
          }
        }
      }

      .lang_mbc {
        margin-left: -4%;

        .dropdown-menu2 {
          right: unset !important;
          left: 0% !important
        }
      }

      .arrow_back {
        right: 95% !important;
        left: unset !important;
        top: 1.85rem !important;
        font-size: 2.5rem;
        width: 0;
      }
    }

    .nav_nav {
      button {
        font-size: 2rem;
        width: 0;
        height: 0;
        top: 2rem !important;
        right: 0;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          font-size: 1.5rem;


          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .img_carousel {
      .owl_one {
        .item {
          .content_free {
            top: 5.5%;
            right: 77%;
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 1.85rem;
          }
        }

        .btn_more {
          font-size: 1.85rem;
        }
      }

      .owl_content_one,
      .owl_content_two,
      .owl_content_three,
      .owl_content_four,
      .owl_content_five {
        .item {
          .card {
            .card-body {
              .card-title {
                font-size: 1.75rem !important;
              }
            }
          }
        }
      }
    }

    .list_page {
      .content_carousel_head {}

      .item {
        .card {
          .owl_content_img {
            .content_free {
              top: 8% !important;
              right: 69% !important;
            }
          }
        }
      }
    }

    .inner_page {
      .section_content {

        .p_content,
        .p_content_2 {
          font-size: 26px;
          margin-right: 0.75rem;
        }
      }
    }

    .modal_cover {
      .modal-dialog {
        .modal-content {
          left: 0 !important;
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 12px;
          padding-left: 0;
        }

        .h4_time_2 {
          float: left;
          padding-left: 12px;
          padding-right: 0;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;
      }
    }

    .sebha_page {
      #sebhaModal {
        .modal-dialog {
          .modal-content {
            left: 50% !important;
          }
        }
      }
    }


  }
}

@media (min-width: 1031px) and (max-width: 1360px) {
  .main_container {
    .navbar {
      .navbar-nav {
        .nav-item {
          .menuThree {
            font-size: 17px !important;
          }
        }
      }
    }

    .sebha_page {
      #sebhaModal {
        .modal-content {
          left: 2%;
        }
      }
    }

    .modal_cover {
      .modal-dialog {
        .modal-content {
          left: -26%;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .main_container {
    .inner_page {
      .socail_media {
        .shear_div {
          padding-right: 0;
        }
      }
    }
  }
}
