$white_color: #FFF;
$black_color: #000;
$grey_color: #adadad;

body {
  direction: rtl;
}

.row {
  margin: 0 !important;
}

.main_container {

  /* Start Header */
  .header {

    .header_logo,
    .header_icon {
      &.header_logo {
        float: right;

        h6 {
          padding-right: 0;
          padding-left: unset;
        }

        .arrow_back {
          top: 1rem;
          right: 100%;
          transform: translate(-50%, -50%);
        }
      }


      &.header_icon {
        text-align: left;
        float: left;
      }

    }
  }

  .nav_nav {
    .navbar_ul {
      padding-right: 0;

      .nav_item_welc {
        text-align: right;
      }

      .nav-item {
        .nav-link {
          text-align: right;

          .icon_before {
            float: right;
            padding-left: 0.5rem;
          }

          &.nav-link2 {
            text-align: left;
          }
        }

        .dropdown-toggle {
          &::after {
            float: left;
          }
        }

        .dropdown-menu {
          &.dropdown-menu2 {
            float: left;
          }

          .dropdown-item {
            &.dropdown-item2 {}
          }
        }
      }
    }
  }

  /* End Header */

  /* Start Home Page */
  .img_carousel {
    .owl_one {
      .item {

        .btn_subscribe {
          button {}
        }
      }
    }

    .owl-dots {
      button {}
    }
  }

  .content_carousel {
    .content_carousel_head {
      .link_title {
        text-align: right;
      }

      .btn_more {
        float: left;
      }
    }

    .owl_content_one,
    .owl_content_two,
    .owl_content_three,
    .owl_content_four {
      // direction: rtl !important;
    }

    .owl_content_five {
      // direction: ltr !important;
    }
  }

  /* End List Page */


  .list_page {
    .content_carousel_head {
      text-align: right;
    }
  }

  /* Start Inner Page */
  .inner_page {
    .cover {
      text-align: right;

      img {}

      button {
        left: 40%;
      }
    }

    .poster {
      text-align: right;

    }

    .socail_media {
      .pa_share {
        margin-top: 1rem;
        text-align: right;
      }

      .shear_div {
        padding-right: 1rem;

        .facebook,
        .twitter,
        .messenger,
        .whatsapp {
          margin-right: 1.5rem;
        }
      }
    }

    .section_content {
      .pa_Videos {
        text-align: right;
      }

      .p_content {
        text-align: right;
        margin-right: 0.5rem;
        margin-left: 0;
      }
    }
  }

  /* End Inner Page */

  /* Start Modal For InnerPager */
  .modal_cover {
    .modal-dialog {
      .modal-content {
        .modal-header {
          .close {
            margin: -1rem -1rem -1rem 0;
          }
        }
      }
    }
  }

  /* End Modal For InnerPager */

  /* Start Salah Page */
  .salah_time_page {

    .time_btn {
      .h4_time_2 {
        text-align: left;
      }

      .h4_time {
        text-align: right;
      }
    }
  }

  /* End Salah Page */

  /* Start Subscribe Page */
  .subscribe_page {
    .subscribe_bg {
      .form-signin {
        .buttons {
          button {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  /* End Subscribe Page */

  /* Start Zakkah Page */
  .zakkah_page {
    .zakah_zakah {
      .form_zakah {
        .field {
          label {
            float: right;
          }

          .field-value {
            float: right;
          }
        }
      }
    }
  }

  .zakkah_v2_page {
    .currency_title {
      float: right;
    }

    .currency_bg {
      .currency_text {
        text-align: right;
      }
    }
  }

  /* End Zakkah Page */

  /* Start Merath Page */
  .merath_page {
    direction: rtl;

    .input_text {
      .merath_input {
        float: left;
      }
    }

    .input_span {
      text-align: right;

      h4 {
        float: right;
      }
    }

    .table_table {
      .table {
        direction: rtl;
      }
    }
  }

  /* End Merath Page */
}

@media (min-width: 320px) and (max-width: 359.9px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .main_container {
    .header {

      .header_logo,
      .header_icon {
        float: left !important;

        &.header_icon {
          margin: 0.35rem 0 0 -1rem;
        }

        h6 {
          padding-right: 0;
          padding-left: unset;
        }

        .arrow_back {
          right: 100% !important;
          left: unset !important;
          top: 1rem !important;
          width: 0;
        }
      }
    }

    .nav_nav {
      button {
        width: 0;
        height: 0;
        top: 1.5rem;
        right: -1rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }


    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 1.25rem;
          }
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 8px;
          padding-left: 0;
        }

        .h4_time_2 {
          float: left;
          padding-left: 8px;
          padding-right: 0;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;

        h4 {
          font-size: 1.09rem;
        }
      }
    }
  }

  .loading-overlay {
    .spinner-large {
      right: 31%;
    }
  }
}

@media (min-width: 360px) and (max-width: 374.9px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .main_container {
    .header {

      .header_logo,
      .header_icon {
        float: left !important;

        &.header_icon {
          margin: 0.35rem 0 0 -1rem;
        }

        h6 {
          padding-right: 0;
          padding-left: unset;
        }

        .arrow_back {
          right: 100% !important;
          left: unset !important;
          top: 1rem !important;
          width: 0;
        }
      }
    }

    .nav_nav {
      button {
        font-size: 1rem;
        width: 0;
        height: 0;
        top: 1.5rem;
        right: -0.75rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          &.nav_item_logo {
            margin-bottom: 1rem;

            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 1.5rem;
          }
        }
      }
    }

    .salah_time_page {
      width: 95%;

      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 8px;
          padding-left: 0;
          font-size: 1.20rem;
        }

        .h4_time_2 {
          float: left;
          padding-left: 8px;
          padding-right: 0;
          line-height: 3rem;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;
      }
    }
  }

  .loading-overlay {
    .spinner-large {
      right: 31%;
    }
  }
}

@media (min-width: 375px) and (max-width: 410.9px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .main_container {

    .header {

      .header_logo,
      .header_icon {
        float: left !important;

        &.header_icon {
          margin: 0.35rem 0 0 -1rem;
        }

        h6 {
          padding-right: 0;
          padding-left: unset;
        }

        .arrow_back {
          right: 100% !important;
          left: unset !important;
          top: 1rem !important;
          font-size: 1.35rem;
          width: 0;
        }
      }
    }

    .nav_nav {
      button {
        font-size: 1rem;
        width: 0;
        height: 0;
        top: 1.5rem;
        right: -0.75rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          padding: 0.25rem 0.75rem;

          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 1.5rem;
          }
        }
      }
    }

    .inner_page {
      .section_content {
        .image_inner {
          height: 100px;
          width: 100px;
        }
      }

      .section_content {
        .pa_Videos {
          font-size: 1.25rem;
        }

        .p_content,
        .p_content_2 {
          font-size: 21px;
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 8px;
          padding-left: 0;
          font-size: 1.30rem;
        }

        .h4_time_2 {
          float: left;
          padding-left: 8px;
          padding-right: 0;
          font-size: 1.30rem;
        }
      }
    }

    .sebha_page {
      #sebhaModal {
        .close {
          font-size: 2rem;
        }
      }
    }

    .subscribe_page {
      width: 100%;
    }

    .merath_page {
      .input_text {
        .merath_input {
          font-size: 1.5rem;
        }
      }

      .input_span {
        text-align: right;

        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 411px) and (max-width: 415px) {
  .padding_phones {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .main_container {
    .header {

      .header_logo,
      .header_icon {
        float: left !important;

        &.header_icon {
          margin: 0.35rem 0 0 -1rem;
        }

        h6 {
          padding-right: 0;
          padding-left: unset;
        }

        .arrow_back {
          right: 100% !important;
          left: unset !important;
          top: 1rem !important;
          width: 0;
        }
      }
    }

    .nav_nav {
      button {
        font-size: 1rem;
        width: 0;
        height: 0;
        top: 1.5rem;
        right: -0.75rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 1.5rem;
          }
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 8px;
          padding-left: 0;
          font-size: 1.30rem;
        }

        .h4_time_2 {
          float: left;
          padding-left: 8px;
          padding-right: 0;
          font-size: 1.30rem;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;

        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .main_container {
    .header {

      .header_logo,
      .header_icon {
        width: 100%;
        text-align: center;
        display: block;
        float: left !important;

        .arrow_back {
          right: 99% !important;
          left: unset !important;
          top: 1.5rem !important;
          font-size: 2rem;
          width: 0;
        }

        h6 {
          font-size: 2rem;
          padding-left: 7rem !important;
          text-align: left;
        }

        &.header_icon {
          i {
            font-size: 2rem;
            margin-top: 1rem;
          }
        }
      }
    }

    .nav_nav {
      button {
        font-size: 2rem;
        width: 0;
        height: 0;
        top: 1.5rem;
        right: -.5rem;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .content_carousel {
      .content_carousel_head {
        .link_title {
          h6 {
            font-size: 2.5rem;
          }
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 10px;
          padding-left: 0;
        }

        .h4_time_2 {
          float: left;
          padding-left: 10px;
          padding-right: 0;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .main_container {
    .header {

      .header_logo,
      .header_icon {
        width: 100%;
        text-align: center;
        display: block;
        float: left !important;

        .arrow_back {
          right: 98% !important;
          left: unset !important;
          top: 1.85rem !important;
          font-size: 2.5rem;
          width: 0;
        }

        h6 {
          font-size: 2.5rem;
          padding-left: 10rem !important;
          text-align: left;
        }

        &.header_icon {
          i {
            font-size: 2rem;
            margin-top: 1rem;
          }
        }
      }
    }

    .nav_nav {
      button {
        font-size: 2rem;
        width: 0;
        height: 0;
        top: 2rem;
        right: 0;
        left: unset;
      }

      .navbar_ul {
        .nav-item {
          font-size: 1.5rem;


          &.nav_item_logo {
            .arrow_back {
              float: left;
            }
          }
        }
      }
    }

    .salah_time_page {
      .time_btn {
        direction: rtl;

        .h4_time {
          float: right;
          padding-right: 12px;
          padding-left: 0;
        }

        .h4_time_2 {
          float: left;
          padding-left: 12px;
          padding-right: 0;
        }
      }
    }

    .merath_page {
      .input_span {
        text-align: right;
      }
    }
  }
}


@media (min-width: 320px) and (max-width: 1200px) {
  .main_container {
    .inner_page {
      .socail_media {
        .shear_div {
          padding-right: 0;
        }
      }
    }
  }
}
