$bg_color: linear-gradient(to right, #aa6620 0, #efc049 30%, #aa6620 60%);
$bg_color2: #0f1218;
$text_color: #efc049;
$white_color: #FFF;
$grey_color: #adadad;

.main_container {
  .header {
    .open_icon_nav_mbc {
      color: $text_color;
      font-size: 30px;
      cursor: pointer;
      margin-top: -12px;
      font-weight: bold;
    }
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 30%;
    background-color: $bg_color2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;

    a {
      padding: 8px;
      text-decoration: none;
      font-size: 14px;
      color: #efc049;
      cursor: pointer;
      display: block;
      transition: 0.3s;

      &:hover {
        background: $bg_color;
        color: $white_color;
      }

      &.menuTwo {
        background: transparent;
      }
    }

    .closebtn_mbc {
      position: absolute;
      top: 0;
      right: 3%;
      color: #efc049;
      font-size: 1.5rem;
      font-weight: bold;

      &:hover,
      &:focus {
        background: transparent;
      }
    }

    .navbar_ul {
      .nav-item {
        .dropdown-menu {
          .dropdown-item {
            &.link_href {
              padding: 5px 0;
            }
          }
        }

        .menuTwo {
          // background-color: #111;

          &:after {
            float: right;
            margin-top: 5%;
          }

          svg {
            fill: $text_color;
            width: 9%;
          }
        }
      }
    }
  }

  .navbar-nav {
    .dropdown-menu {
      background-color: $bg_color2;
      // background: rgba(0, 0, 0, .5) !important;
      text-align: center;

      .nav-link {
        font-size: 13px;
      }
    }
  }

  .close_nav {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.active_menu {
  color: $white_color !important;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}
