$bg_color: #FF6600;
$bg_color2: #0f1218;
$text_color: #FF6600;
$white_color: #FFF;
$black_color: #000;
$grey_color: #adadad;

.main_container {
  .close_nav {
    // padding-right: 8px;
    // padding-left: 8px;
  }
}



@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}
