.main_container {
  .header {
    .open_icon_nav_mbc {
      margin-right: -15%;
    }
  }

  #mySidenav {
    &.sidenav {
      left: 56.5%;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;

      border-top-left-radius: 0.6rem;
      border-bottom-left-radius: 0.6rem;

      a {
        direction: ltr;
      }

      .closebtn_mbc {
        left: 0%;

        &:hover,
        &:focus {
          background: transparent;
        }
      }

      .navbar_ul {
        padding: 0 0.75rem;

        .nav-item {
          .nav-link {
            text-align: right !important;
            direction: rtl !important;
          }

          .dropdown-menu {
            text-align: center;
          }
        }
      }
    }
  }

  .navbar_ul {
    .nav-item {
      .dropdown-menu {
        .dropdown-item {
          &.link_href {
            // padding: 5px 0;
          }
        }
      }

      .menuTwo {
        &:after {
          float: left !important;
        }

        svg {}
      }
    }
  }

  .navbar_three {
    .navbar_ul_three {
      .menuThree {
        font-size: 20px;
      }
    }
  }

  .sebha_page {
    #sebhaModal {
      overflow: hidden;

      .modal-content {
        left: 0 !important;
      }
    }
  }
}
